<html>
<head>
    <style>
        body {font-family: Arial; margin: 50px;padding: auto;background-color: rgb(202, 172, 231);}
    </style>
</head>
<body>
    <h1>Welcom to Ashokan's Stock Screener</h1>
    <a> Click Any of below Technical analysis options:</a>
    <br/>
    <br/>
    <a href="/candle" > 1) Cadnlestick Pattern Detection </a>
    <br/>
    <br/>
    <a href="/rsi"> 2) RSI Divergence Detection</a>
    <br/>
    <br/>
    <a href="/macd"> 3) MACD Divergence Detection</a>
    <br/>
    <br/>
    <a href="/price"> 4) Trendline pattern Detection</a>
</body>
</html>
